<div class="flex-container">
    <div [formGroup]="form" class="flex-item">
      <div class="card mb-3">
        <div class="card-header">Création d'un compte</div>
        <div class="card-body">
          <div class="form-group">
            <label for="login">Nom d'utilisateur</label>
            <input type="text" class="form-control"
              [class.is-invalid]="form.controls.login.touched && form.controls.login.invalid" formControlName="login"
              id="login">
            <div class="invalid-feedback">
              Merci de mettre votre identifiant
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control"
              [class.is-invalid]="form.controls.password.touched && form.controls.password.invalid"
              formControlName="password" id="password">
            <div class="invalid-feedback">
              Entrez votre mot de passe
            </div>
          </div>
          <div class="form-group">
            <label for="password2">Password vérification</label>
            <input type="password" class="form-control"
              [class.is-invalid]="form.controls.password2.touched && form.controls.password2.invalid"
              formControlName="password2" id="password2">
            <div class="invalid-feedback">
              Les mots de passe doivent etre identique
            </div>
          </div>
        </div>
        <button (click)="send()" [disabled]="form.invalid || (form.value.password !== form.value.password2)" class="btn btn-primary">Création+Connection</button>
      </div>
    <button class="btn btn-success" routerLink="/login">Retour login</button>

    </div>
</div>




