

    <ul class="chat-list">
      <ng-container *ngFor="let msg of messages">
        <ng-container *ngIf="msg.user.login == me.login; else NotMe">

          <li class="in">
            <div class="chat-img">
              <img alt="Avtar" src="{{getUserAvatar(msg.user.uid)}}">
            </div>
            <div class="chat-body">
              <div class="chat-message" [ngStyle]="{'background':getUserColor(msg.user.uid)}">
                <h5>Moi</h5>
                <p>{{msg.msg}}</p>
              </div>
            </div>
          </li>
    
        </ng-container>
      <ng-template #NotMe>
        <li class="out">
          <div class="chat-img">
            <img alt="Avtar" src="{{getUserAvatar(msg.user.uid)}}">
          </div>
          <div class="chat-body">
            <div class="chat-message" [ngStyle]="{'background':getUserColor(msg.user.uid)}">
              <h5>{{msg.user.login}}</h5>
              <p>{{msg.msg}}</p>
            </div>
          </div>
        </li>
      </ng-template>
      </ng-container>
    </ul>
